@import url('~/platform.css');

Page {
    /*font-size: 15;*/
    color: #333;
}

.dynamic-background {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.n-0 {
    background-image: url('res://n_0');
}

.n-1 {
    background-image: url('res://n_1');
}

.n-2 {
    background-image: url('res://n_2');
}

.n-3 {
    background-image: url('res://n_3');
}

.n-4 {
    background-image: url('res://n_4');
}

.n-5 {
    background-image: url('res://n_5');
}

.n-6 {

    background-image: url('res://n_6');
}

.d-0 {
    background-image: url('res://d_0');
}

.d-1 {
    background-image: url('res://d_1');
}

.d-2 {
    background-image: url('res://d_2');
}

.d-3 {
    background-image: url('res://d_3');
}

.d-4 {
    background-image: url('res://d_4');
}

.d-5 {
    background-image: url('res://d_5');
}

.d-6 {
    background-image: url('res://d_6');
}

ActionBar {
    background-color: rgba(33, 33, 33, 0.2);
    color: #fff;
    /* size of the notification bar */
    margin-top: 24;
}

NavigationButton {
    color: #fff;
}

TextField {
    padding: 10;
    font-size: 13;
}

RadSideDrawer {
    margin-top: -81;
    z-index: 99;
}

.sideStackLayout {
    background-color: rgba(255, 255, 255, 0.9);
    /* size of the notification bar + 5 */
    padding-top: 29;
}

/*.sideMenuStackLayout {}*/

.side-label {
    font-weight: bold;
    padding: 14 20 14 55;

    background-repeat: no-repeat;
    background-position: 38 30;
}

.side-overview {
    background-image: url('res://ic_web_black_24dp');
}

.side-vehicles {
    background-image: url('res://ic_directions_car_black_24dp');
}

.side-refuels {
    background-image: url('res://ic_local_gas_station_black_24dp');
}

.side-stats {
    background-image: url('res://ic_insert_chart_black_24dp');
}

.side-settings {
    background-image: url('res://ic_settings_black_24dp');
}

.side-share {
    background-image: url('res://ic_share_black_24dp');
}

.side-contactus {
    background-image: url('res://ic_mail_black_24dp');
}

.side-profile {
    background-image: url('res://ic_person_black_24dp');
}

.contentStackLayout {
    /* fix above margin-top of entire RadSideDrawer */
    margin-top: 81;
    padding: 10;
}

.overview-container,
.vehicles-content {
    border-radius: 8;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10;

    min-height: 500;
}
