@import url('~/platform.css');

Page {
    /*font-size: 15;*/
    color: #333;
}

ActionBar {
    background-color: rgba(33, 33, 33, 0.2);
    color: #fff;
    /* size of the notification bar */
    margin-top: 24;
}

Page.old-sdk ActionBar {
    margin-top: 0;
}

NavigationButton {
    color: #fff;
}

TextField {
    padding: 10;
    font-size: 13;
}

.icon {
   font-family: 'MaterialIcons';
   font-size: 24;
}

.dynamic-background {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* night backgrounds */
.n-0 {
    background-image: url('res://n_0');
}

.n-1 {
    background-image: url('res://n_1');
}

.n-2 {
    background-image: url('res://n_2');
}

.n-3 {
    background-image: url('res://n_3');
}

.n-4 {
    background-image: url('res://n_4');
}

.n-5 {
    background-image: url('res://n_5');
}

.n-6 {

    background-image: url('res://n_6');
}

/* day backgrounds */
.d-0 {
    background-image: url('res://d_0');
}

.d-1 {
    background-image: url('res://d_1');
}

.d-2 {
    background-image: url('res://d_2');
}

.d-3 {
    background-image: url('res://d_3');
}

.d-4 {
    background-image: url('res://d_4');
}

.d-5 {
    background-image: url('res://d_5');
}

.d-6 {
    background-image: url('res://d_6');
}

RadSideDrawer {
    margin-top: -81;
    z-index: 99;
}

.sideStackLayout {
    background-color: rgba(255, 255, 255, 0.9);
    /* size of the notification bar + 5 */
    padding-top: 29;
    /* in android 4 action bar is over the menu */
    z-index: 100;
}

/*.sideMenuStackLayout {}*/

.side-label {
    font-weight: bold;
    padding: 14 20 14 55;

    background-repeat: no-repeat;
    background-position: 38 30;
}

.sideMenuStackLayout {
    font-size: 14;
}

.sideMenuStackLayout GridLayout {
    height: 48;
    /*border-width: 1;
    border-color: #999999;*/
}

.sideMenuStackLayout .icon {
    color: rgba(0, 0, 0, .54);
    margin-left: 16;
    vertical-align: center;
}

.sideMenuStackLayout .text {
    color: rgba(0, 0, 0, .87);
    margin-left: 72;
    vertical-align: center;
}

.contentStackLayout {
    padding: 10;
}

.contentStackLayoutWrapper {
    /* fix above margin-top of entire RadSideDrawer */
    margin-top: 81;
}

/* add this class to devices without physical buttons */
.virtual-buttons-container {
    margin-bottom: 48;
}

.overview-container,
.vehicles-container,
.settings-container,
.profile-container {
    background-color: rgba(255, 255, 255, 0.85);
    border-color: #ccc;
    border-radius: 3;
    border-width: 1;
    margin-bottom: 15;
}

.overview-box-title {
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 3;
    color: #ffffff;
    font-size: 16;
    font-weight: bold;
    padding: 10 15;
}

.overview-box-content {
    padding: 15;
}

.settings-container {
    margin-bottom: 0;
}

.settings-container StackLayout {
    padding: 20 15;
}

.profile-container {
    padding: 10;
}

.second-container {
    margin-top: 25;
}

.form-label {
    font-size: 11;
}

.form-text {
    margin-bottom: 15;
}

.success-btn {
    background-color: #33cd5f;
    border-color: #28a54c;
    color: #fff;
    padding: 24;
}

.error-btn {
    background-color: #CD3333;
    border-color: #A52828;
    color: #fff;
    padding: 24;
}
